{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .btn {
        background: #de5200;
        border-color: #F5F5F5;
        --btn-hover-color: black;
        --btn-hover-bg: black; 
    }
    .logo {
        width: 11%;
        height: auto;
        border-radius: 10%;
    }
</style>

<div class="px-4 py-5 my-5 text-center">
    <img class="logo" src="{{ asset('media/logo.jpg') }}" alt="Logo">
    <h1 class="display-5 fw-bold text-body-emphasis">Much Fitness</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Nous avons pour but de simplifier le choix et le suivi d’un programme de musculation. Vous pourrez rechercher un programme fitness adapté à vos besoins et objectifs grâce à des filtres de recherche sur le type de programme, la durée maximale des séances, le nom des programmes ou des exercices qu’il contient.</p>
        {% if app.user is null %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/registration" class="btn btn-primary btn-lg px-4 gap-3">Commencez l'aventure</a>
        </div>
        {% else %}
        <div>
            <a href="/programme" class="btn btn-primary btn-lg px-4 gap-3">Voir les programmes</a>
            <a href="{{ path('app_semaine_index') }}" class="btn btn-primary btn-lg px-4 gap-3">Voir mes suivis</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
