{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form) }}
    <button type="sublmit">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}