{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	{% for message in app.flashes("success") %}
		<div class="flash-notice">
			{{ message }}
		</div>
	{% endfor %}

	{{ form_start(form) }}
	{{ form_row(form) }}
		<button type="sublmit" class="btn btn-primary btn-lg px-4 gap-3">S'inscrire</button>
		<a>Vous avez un compte ?</a>
		<a href="/login">Se connecter</a>
	{{ form_end(form) }}
	
{% endblock %}

