{% extends 'base.html.twig' %}

{% block title %}Modifier Suivi{% endblock %}

{% block body %}
    <h1>Modifier mon suivi</h1>

    {{ include('semaine/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_semaine_show', {'id': semaine.id}) }}">back to list</a>

    {{ include('semaine/_delete_form.html.twig') }}
{% endblock %}
