{% extends 'base.html.twig' %}

{% block title %}Nouveau Suivi{% endblock %}

{% block body %}
    <h1>Démarrer un suivi</h1>

    {{ include('semaine/_form.html.twig') }}

    <a href="{{ path('app_semaine_index') }}">back to list</a>
{% endblock %}
