{% extends 'base.html.twig' %}

{% block title %}Modifier Résultats{% endblock %}

{% block body %}
    <h1>Modifier mes résultats</h1>

    {{ include('suivi_seance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_suivi_seance_show', {'id': suivi_seance.id, 'semaineId': semaine.id}) }}">annuler</a>

    {{ include('suivi_seance/_delete_form.html.twig', {'semaineId': semaine.id}) }}
{% endblock %}
