{% extends 'base.html.twig' %}

{% block title %}Ajouter Résultats{% endblock %}

{% block body %}
    <h1>Ajouter mes résultats</h1>

    {{ include('suivi_seance/_form.html.twig') }}

    <a href="{{ path('app_semaine_show', {'id': semaine.id}) }}">Annuler</a>
{% endblock %}
