{% extends 'base.html.twig' %}

{% block title %}New SuiviSeance{% endblock %}

{% block body %}
    <h1>Create new SuiviSeance</h1>

    {{ include('suivi_seance/_form.html.twig') }}

    <a href="{{ path('app_suivi_seance_index') }}">back to list</a>
{% endblock %}
