<form method="post" action="{{ path('app_objectif_seance_delete', {'id': objectif_seance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objectif_seance.id) }}">
    <button class="btn">Delete</button>
</form>
