{% extends 'base.html.twig' %}

{% block title %}New SeanceType{% endblock %}

{% block body %}
    <h1>Créer une séance type pour le jour n° {{jour}} </h1>

    {{ include('seance_type/_form.html.twig') }}

    <a href="{{ path('app_programme_index') }}">Finir programme</a>
{% endblock %}
