{% extends 'base.html.twig' %}

{% block title %}Nouveau Programme{% endblock %}

{% block body %}
    <h1>Nouveau Programme</h1>

    {{ include('programme/_form.html.twig') }}

    <a href="{{ path('app_programme_index') }}">Annuler</a>
{% endblock %}
